
.body{
  background-color: #5eab63;
  width: 100%;
}
.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

input[type="checkbox"] {
  display: none;
}

.seat {

  background-color: #4c4c4c;
  height: 50px;
  width: 100px;
  margin: 10px;
}

.seat.selected {
  background-color: #5eab63;
}

.seat.occupied {

  background-color: #e92222;
  cursor: default;
}


.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 10px;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}
.grid-container2 {
  position: absolute;
  margin-top: -20px;
  margin-left: 250px;
  margin-right: 10px;
  display: grid;
  grid-template-rows: repeat(10, auto);
  gap: 10px;
  background-color: #ffffff;
  padding: 10px;
}
.grid-container2 > div {
  border-radius: 10px;
  margin-top: 10PX;
  text-align: center;
  padding: 10px 0;
  font-size: 25px;
  cursor: pointer;
  height: 10px;
  width: 40px;
}


.grid-container1 {
  
  margin-top: -20px;
  margin-left: 295px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: repeat(12, auto);
  gap: 10px;
  background-color: #ffffff;
  padding: 10px;
}
.grid-container1 > div {
  border-radius: 10px;
  text-align: center;
  padding: 10px 0;
  font-size: 25px;
  cursor: pointer;
  height: 10px;
  width: 40px;
}

.grid-container {
  margin-top: 0px;
  margin-left: 300px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: repeat(10);
  gap: 10px;
  background-color: #ffffff;
  padding: 10px;
}
.grid-container > *:nth-child(25),
.grid-container > *:nth-child(26),
.grid-container > *:nth-child(27),
.grid-container > *:nth-child(28),
.grid-container > *:nth-child(29),
.grid-container > *:nth-child(30),
.grid-container > *:nth-child(31),
.grid-container > *:nth-child(32),
.grid-container > *:nth-child(33),
.grid-container > *:nth-child(34),
.grid-container > *:nth-child(35),
.grid-container > *:nth-child(36) {
  margin-top: 20px;
}
.grid-container > *:nth-child(49),
.grid-container > *:nth-child(50),
.grid-container > *:nth-child(51),
.grid-container > *:nth-child(52),
.grid-container > *:nth-child(53),
.grid-container > *:nth-child(54),
.grid-container > *:nth-child(55),
.grid-container > *:nth-child(56),
.grid-container > *:nth-child(57),
.grid-container > *:nth-child(58),
.grid-container > *:nth-child(59),
.grid-container > *:nth-child(60) {
  margin-top: 20px;
}
.grid-container > *:nth-child(73),
.grid-container > *:nth-child(74),
.grid-container > *:nth-child(75),
.grid-container > *:nth-child(76),
.grid-container > *:nth-child(77),
.grid-container > *:nth-child(78),
.grid-container > *:nth-child(79),
.grid-container > *:nth-child(80),
.grid-container > *:nth-child(81),
.grid-container > *:nth-child(82),
.grid-container > *:nth-child(83),
.grid-container > *:nth-child(84) {
  margin-top: 20px;
}
.grid-container > *:nth-child(97),
.grid-container > *:nth-child(98),
.grid-container > *:nth-child(99),
.grid-container > *:nth-child(100),
.grid-container > *:nth-child(101),
.grid-container > *:nth-child(102),
.grid-container > *:nth-child(103),
.grid-container > *:nth-child(104),
.grid-container > *:nth-child(105),
.grid-container > *:nth-child(106),
.grid-container > *:nth-child(107),
.grid-container > *:nth-child(108) {
  margin-top: 20px;
  
}

.grid-container > div {
  border-radius: 10px;
  text-align: center;
  padding: 10px 0;
  font-size: 25px;
  cursor: pointer;
  height: 10px;
  width: 40px;
}
p {
  color: rgb(0, 0, 0);
  font-size: 32px;
  font: Open Sans;
  margin-left: 8%;
  top: 3%;
  position: absolute;
}

.container1 {
  margin-left: 0px;
  margin-top: 40px;
  width: 180px;
  height: 520px;
  display: grid;
  padding: 10px;
  position: absolute;
}
.container2 {
  border-radius: 10px;
  margin-left: 0px;
  margin-top: 100px;
  width: 20px;
  height: 10px;
  display: grid;
  background-color: #D9D9D9;
  padding: 10px;
  position: absolute;
}
p1 {
  margin-left: 50px;
  margin-top: 100px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font: Open Sans;
  position: absolute;
}
.container3 {
  margin-left: 0px;
  margin-top: 160px;
  border-radius: 10px;
  width: 20px;
  height: 10px;
  display: grid;
  background-color: #EC1C24;
  padding: 10px;
  position: absolute;
}
p2 {
  margin-left: 50px;
  margin-top: 160px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font: Open Sans;
  position: absolute;
}
.container4 {
  margin-left: 0px;
  margin-top: 220px;
  border-radius: 10px;
  width: 20px;
  height: 10px;
  display: grid;
  background-color: #6083A9;
  padding: 10px;
  position: absolute;
}
p3 {
  margin-left: 50px;
  margin-top: 220px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font: Open Sans;
  position: absolute;
}
.container5 {
  margin-left: 0px;
  margin-top: 280px;
  border-radius: 10px;
  width: 20px;
  height: 10px;
  display: grid;
  background-color: #000000;
  padding: 10px;
  position: absolute;
}
p4 {
  margin-left: 50px;
  margin-top: 280px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font: Open Sans;
  position: absolute;
}
.container6 {
  margin-left: 0px;
  margin-top: 340px;
  border-radius: 10px;
  width: 20px;
  height: 10px;
  display: grid;
  background-color: #7becda;
  padding: 10px;
  position: absolute;
}
p5 {
  margin-left: 50px;
  margin-top: 340px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font: Open Sans;
  position: absolute;
}
.grid-item {
  background-color: rgb(0, 255, 0);
  text-align: center;
  height: 10px;
  width: 10px;
}

.contenedor {
  background-color: #ffffff;
  width: 100%;
  height: 100px;
  margin-left: 150px;
  font-size: 20px;
}

h1{
font-size: 15px;
vertical-align:middle;
}

h2{
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
}

.modal {
  padding: 10px;
  display: none;
  position: fixed;
  border-radius: 0.50rem;
  z-index: 1;
  align-items: center;
  align-content: center;
  width: 30%;
  height: auto;
  overflow: auto;
  background-color: rgba(125, 184, 218, 0.9);
}

p6 {
  font-weight: bold;
  margin-left: 20px;
  margin-top: 5000px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font: Open Sans;
  font-weight: bold;
  
}


.cerrar {
  color: #ffffff;
  border-radius: 10px;
  background-color: #ff0000;
  float: right;
  padding: auto;
  font-size: 30px;
  font-weight: bold;
  padding: 1px 7px; 
}


.cerrar:hover,
.cerrar:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.select-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.select-dropdown {
  display: block;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 3px solid #ffffff;
  background-color: rgba(125, 184, 218, 0.7);
  font-size: 15px;
  margin-bottom: 1rem;
  margin-left: 5%;
  font-weight: bold;
}
.select-message {
  font-style: italic;
  margin-top: 1rem;
}

.button {
  margin-top: -25%;
  margin-left: 28%;
  background-color: rgba(62, 162, 219, 0.7); 
  border: none; 
  color: rgb(0, 0, 0); 
  padding: 12px 24px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  cursor: pointer; 
  font-weight: bold;
}

.future-date {
  cursor: pointer;
  background-color: #2794d3;
}

.modal1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(65, 125, 160);
  padding: 1.5rem;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}
.modal2 {
  width: 150%;
  position: absolute;
  margin-top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(68, 158, 170);
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}
.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

/* label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-right: 100px;
} */

input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 70%;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

/* .Opciones {
  background-color: #f5f5f5;
  border: none;
  font-size: 16px;
  width: 74%;
  height: 30px;
}

.Opciones:checked {
  background-color: #007bff;
  color: #fff;
}

.Opciones:hover {
  cursor: pointer;
} */

button {
  padding: 0.5rem 1rem;
  margin-top: 10px;
  background-color: #a8a5a5;
  color: white;
  border-radius: 0.25rem;
  border: #000 1px solid;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}
